.culture {
	background: #f9f9f9;
	padding-top: 5px;
}

.line-after {
	position: relative;
	text-align: center;
}

.line-after:after {
	content: "";
	position: absolute;
	top: 45px;
	left: 215px;
	width: 175px;
	border-bottom: 2px solid #767676;
}

/* RWD */
@media (max-width: 1035px) {
  	.line-after:after {
    	display: none;
  	}
}