.page-header {
	background: #fff;
	padding: 25px 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
}

.page-header > .container {
	justify-content: space-between;
	align-items: center;
}

/* Menu brand */
.menu-brand {
	
}

.menu-brand a {
	display: block;
}

.menu-brand img { display: block; }

/* Menu links */
.menu-links {
}

.menu-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-links li {
	display: inline-block;
	margin: 0 4px;
}

.menu-links a {
	color: #8f8f8f;
	font-weight: bold;
	display: block;
	padding: 12px 20px;
}

.menu-links a:hover,
.menu-links .active {
	color: #fff;
	background: #3e6edf;
}

/* RWD */
@media (max-width: 990px) {
	.page-header {
		position: static;
	}

	.page-header > .container {
		flex-direction: column;
	}

	.menu-brand {
		margin-bottom: 15px;
	}

	.menu-links ul {
		text-align: center;
	}

	.menu-links li {
		margin-bottom: 4px;
	}
}