.portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 775px;
	background-image: url('../img/tablet.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	margin-bottom: 40px;
}

.portfolio .container {
	width: 100%;
}

.project-container {
	margin-top: 50px;
	max-width: 470px;
}

.project-container h3,h4 {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	margin: 0;
	text-transform: uppercase;
}

.project-container p {
	color: #777777;
	font-size: 15px;
	line-height: 23px;
	margin: 0;
	padding: 0;
}

.project-feature {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1rem 0 0 0;
}

.feature-img {
	display: inline-block
}

.feature-description {
	display: inline-block;
	padding-left: 1rem;
}